{{ $formation := .Site.Data.formation }}

<section id="formation" class="purple">
  <h2 class="heading">{{ $formation.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $formation.formation }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
        <span class="date">{{ $element.timeperiod }}</span>
        <h6 class="h3 my-2">{{ $element.school }}</h6>
        {{ $website := $element.website }}
        {{ if $website }}
        <a target="_blank" href="{{ $website }}">
          <i class="fas fa-link"></i>
          {{ $website }}
        </a>
        {{ end }}
        <p class="">{{ $element.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>

</section>